@mixin button{
  font-weight: 700;
  font-size: 22px;
  color: #FFF;
  background: linear-gradient(92.56deg, #9B17FF 1.62%, #FF0068 100%);
  border-radius: 20px 0;
  border: none;
  padding: 18px 83px;
  cursor: pointer;
  width: 100%;
  max-width: 272px;
}