@import 'variable.scss';
@import "mixsin";

.opening {
  margin: 0 0 125px 0;
  .opening__content{
    display: flex;
    gap: 30px;
    flex-direction: column;
    .opening__title, .opening__text, .opening__button-brief {
      color: white;
    }
    .opening__description{
      display: flex;
      gap: 30px;
      flex-direction: column;


      .opening__title {
        font-weight: 700;
        font-size: 52px;
        line-height: 61px;
        max-width: 520px;
        width: 100%;
      }

      .opening__text {
        font-weight: 600;
        font-size: 23px;
        line-height: 160%;
        max-width: 632px;
        width: 100%;
        margin: 20px 0 30px 0;
      }
    }
    .opening__button-brief {
      @include button;
      padding: 17px 47px;
      text-decoration: none;
    }
  }

}