//new
.stages {
  margin: 0 auto 125px;
  height: 1691px;
  max-width: 1200px;
  .stages__title{
    font-weight: 700;
    font-size: 46px;
    line-height: 54px;
    color: #FFFFFF;

  }
}
.stages__steps {
  max-height: 1691px;
  position: relative;
}

.step__item {
  position: absolute;
  .step__item-title {
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    .title__counter{
      font-size: 48px;
      line-height: 56px;
    }
  }

  &_first {
    top: 0;
    left: 704px;
    width: fit-content;
    &:before{
      position: absolute;
      top: 50px;
      z-index: -1;
      opacity: 0.5;
      filter: blur(125px);
      content: url("../image/stages/blur/first.svg");
    }
    .step__item-title {
      top: 45%;
      left: 15%;
      max-width: 378px;

      .title__select {
        color: #9B17FF;
      }
    }
  }

  &_second {
    top: 289px;
    left: -41px;
    &:before{
      position: absolute;
      top: 50px;
      z-index: -1;
      opacity: 0.5;
      filter: blur(125px);
      content: url("../image/stages/blur/second.svg");
    }
    .step__item-title {
      bottom: 40%;
      max-width: 428px;
      left: 15%;

      .title__select {
        color: #1588FF;
      }
    }
  }
  &_third{
    top: 586px;
    left: 795px;
    &:before{
      position: absolute;
      top: 0;
      z-index: -1;
      opacity: 0.5;
      filter: blur(125px);
      content: url("../image/stages/blur/third.svg");
    }
    .step__item-title{
      bottom: 37%;
      left: 2%;
      max-width: 452px;
      .title__select{
        color: #2CD2FF;
      }
    }
  }
  &_fourth{
    top: 767px;
    left: -35px;
    &:before{
      position: absolute;
      top: 100px;
      left: 40px;
      z-index: -1;
      opacity: 0.5;
      filter: blur(125px);
      content: url("../image/stages/blur/fourh.svg");
    }
    .step__item-title{
      bottom: 40%;
      left: 1%;
      max-width: 452px;
      .title__select{
        color: #FF8E33;
      }
    }
  }
  &_fifth{
    top: 1080px;
    left: 700px;
    &:before{
      position: absolute;
      top: 30px;
      left: 70px;
      z-index: -1;
      opacity: 0.5;
      filter: blur(125px);
      content: url("../image/stages/blur/five.svg");
    }
    .step__item-title{
      max-width: 503px;
      bottom: 37%;
      left: 7%;
      .title__select{
        color: #F51E86;
      }
    }
  }
  &_sixth{
    top: 1307px;
    left: -30px;
    &:before{
      position: absolute;
      top: 30px;
      left: 10px;
      z-index: -1;
      opacity: 0.5;
      filter: blur(125px);
      content: url("../image/stages/blur/six.svg");
    }
    .step__item-title{
      max-width: 345px;
      bottom: 43%;
      left: 10%;
      .title__select{
        color: #BC69FF;
      }
    }
  }
}

.step__way {
  position: absolute;

  &_first {
    top: 343px;
    right: 415px;
  }

  &_second {
    top: 614px;
    left: 417px;
  }
  &_third{
    top: 836px;
    left: 391px;
  }
  &_fourth{
    top: 1152px;
    left: 400px;
  }
  &_fifth{
    top: 1345px;
    left: 360px;
  }
}
