$gradient:linear-gradient(170deg, rgba(0,116,245,1) 0%, rgba(11,109,245,1) 2%, rgba(42,90,247,1) 4%, rgba(92,60,250,1) 12%, rgba(155,23,255,1) 25%, rgba(255,0,104,1) 50%, rgba(253,208,0,1) 67%);
$gradientCall:linear-gradient(150deg, rgba(0,116,245,1) 0%, rgba(11,109,245,1) 2%, rgba(42,90,247,1) 4%, rgba(92,60,250,1) 6%, rgba(155,23,255,1) 8%, rgba(255,0,104,1) 60%, rgba(253,208,0,1) 100%);
$gradientHeader: linear-gradient(128deg, rgba(254,113,48,1) 0%, rgba(253,208,1,1) 25%);
$gradientContact:linear-gradient(180deg, rgba(58,0,255,1) 0%, rgba(188,105,255,1) 100%);
$gradientButton: linear-gradient(90deg, rgba(155,23,255,1) 0%, rgba(255,0,104,1) 100%);
$gradientInput:linear-gradient(165deg, rgba(30,39,232,1) 0%, rgba(44,210,255,1) 100%);
$gradientSlider:linear-gradient(318deg, rgba(30,39,232,1) 0%, rgba(44,210,255,1) 100%);